# ==========================================
# BACKEND
# ==========================================

backend/target/
backend/.classpath
backend/.project
backend/.settings/

# ==========================================
# FRONTEND
# ==========================================

frontend/node_modules/
frontend/build/

# ==========================================
# ENVIRONMENT FILES
# ==========================================

backend/.env
frontend/.env
.env

# ==========================================
# IDE
# ==========================================

.vscode/
.idea/

# ==========================================
# OS
# ==========================================

.DS_Store
Thumbs.db